---
version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
- package-ecosystem: "docker"
  directory: "/build"
  schedule:
    interval: "weekly"
- package-ecosystem: "docker"
  directory: "/cmd/tester"
  schedule:
    interval: "weekly"    