language: go

go:
  - 1.6.2

before_install:
  - go get -v github.com/mattn/goveralls

install:
  - make setup-ci

script:
  - make build-all
  - make test-race
  - METALINTER_CONCURRENCY=2 make check
  - make bench-race
  - make coveralls
